#content-appliance {
  background-color: #ffffff;
  display: inline-flex;
  padding: 17px;
  align-items: center;
  height: fit-content;
}
.lab {
  display: block;
  font-size: smaller;
}
.date-pick {
  height: auto;
}
