.mainAction {
  padding-top: 30%;
  padding-bottom: 15%;
  background-color: rgb(234, 234, 241);
  display: flex;
  justify-content: center;
}
.space {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center;
  color: rgb(5, 5, 13);
  opacity: 70%;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 345px;
}
